@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Berkshire Swash', cursive;
}
/* MOBILE */

body{
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=86429), pointer;
}


#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.logo{
    max-height: 190px;
    max-width: 190px;
    display: block;
    margin: 0 auto;
    
}

.titre{
  margin-top: 20px;
  text-align: center;
  color: rgb(241, 6, 6);
  animation: myanimation 5s infinite;
}

@keyframes myanimation {
  0% {color: red;}
  25%{color:rgb(255, 196, 0);}
  75%{color:rgb(192, 108, 12);}
  100% {color: red;}
}

.button{
  padding: 20px;
  background-color: rgb(255, 166, 2);
  border: none;
  border-radius: 20px;
  width: 200px;
}

.buttons{
  display: block;
  width: 210px;
  margin: 0 auto;
  margin-top: 80px;
  
}

a{
  font-size: 20px;
  text-decoration: none !important;
  
}
.foot{
  font-size: 15px;
}

.container{
  margin-top: 50px;
}

.pjeux{
  color: white;
  text-align: center;
  font-size: 40px;
  margin-top: 100px;
}

/* PC ______________________________________*/  


@media screen and (min-width: 767px) {

  .logo{
    max-height: 500px;
    max-width: 500px;
    display: block;
    margin: 0 auto;

}


.titre{
  font-size: 100px;
}

.head2{
  display: none;
}

.button{
  padding: 20px;
  background-color: rgb(255, 166, 2);
  border: none;
  border-radius: 20px;
  width: 300px;
}

.button:hover{
  background-color: red;
  text-decoration: none;
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=86429), pointer !important;
}

.buttons{
  display: block;
  width: 300px;
  margin: 0 auto;
  margin-top: 50px;
}

a{
  font-size: 50px;
  
}











}


  
  
